<header>
    <div id='logo'>
        <span>T</span>
        <span>eacher</span>
        <span>raction</span>
    </div>
    <nav>
        <div>
            <a href='#login'>Login</a>
            <span></span>
        </div>
        <div>
            <a href='#signUp'>Sign Up</a>
            <span></span>
        </div>
    </nav>
</header>
