<section id="loginForm">
    <div class="nav">
        <div class="active">
            <a href="#logIn">Login</a>
        </div>
        <div>
            <a href="#signUp">Sign Up</a>
        </div>
    </div>
    <div class="inputs">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="userPassword" placeholder="Password" />
        <button type="button">Login</button>
    </div>
</section>
