<section id="loginForm">
    <div class="nav">
        <div>
            <a href="#logInForm">Login</a>
        </div>
        <div class="active">
            <a href="#signUp">Sign Up</a>
        </div>
    </div>
    <div class="inputs">
        <input type="text" name="userEmail" placeholder="Email" />
        <input type="password" name="userPassword" placeholder="Password" />
        <input type="password" name="confirmUserPassword" placeholder="Confirm Password" />
        <button type="button" id="signUp">Sign Up</button>
    </div>
</section>
